/*.row {
  width: flex;
  justify-content: center;
}

.column{
  width: auto;
  align-content: space-around;
  margin: 10px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}*/

.savebutton {
  display: inline-block;
  justify-content: center;
}

.filloutform{
  display: flex;
  justify-content: center;
  max-width: 550px;
  margin: 0 auto;
  margin-left: 100px;
}

