.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.chart {
  width: 720px;
  height: 400px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.titre {
  display: flex;
  background-color: #09d3ac;
  justify-content: center;

}
.containerDashboard{
  display: flex;
}
.ContainerGauche{
  display: flex;
  flex-direction:column;
  flex:2;

}
.Histo{
  display: flex;
  align-items: center;
  flex-direction:column;
  flex:1;
}
.containergauchecentre{
  display: flex;
  flex-direction:column;
  flex:1;
  flex-wrap: wrap;
}
.graph{
  display: flex;
  flex-direction: row;
  flex-shrink:1 1 auto;
  align-items:center ;
}

.containergauchebas{
  display: flex;
  flex-direction:column;
  flex:1;
}
.ContainerDroite {
  display: flex;
  flex-direction: column;
  flex:1;
  background-color: #9affeb;
}
